html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* html & body */
html,
body {
  /* font-family: Verdana, sans-serif; */
  font-size: 15px;
  line-height: 1.5;
}

body {
  margin: 0;
  background-color: #23483c;
}

.navbar-sticky {
  position: fixed;
  width: 100%;
  z-index: 1;
}

.navbar {
  width: 100%;
  overflow: hidden;
  background-color: #f393a0;
}

.navbar:before,
.navbar:after {
  content: "";
  display: table;
  clear: both;
}

/* --------------- */
.logo {
  mix-blend-mode: overlay width: 250%;
  height: 250%;
  position: absolute;
  left: 2%;
  bottom: -100%;
}
.title {
  position: absolute;
  left: 17%;
}

.bottomleft {
  position: absolute;
  left: 0;
  bottom: -5%;
}

/* --------------- */
.padding-0816 {
  padding: 8px 16px !important;
}

.padding-32 {
  padding-top: 32px !important;
  padding-bottom: 32px !important;
}

.shadow-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.navbar-item {
  padding: 8px 16px;
  float: left;
  width: auto;
  border: none;
  display: block;
  /* flex? */
  outline: 0;
}

.button {
  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
}

.right {
  float: right !important;
}

/* hidden effect for the screen smaller than 600px */
@media (max-width: 600px) {
  .hide-small {
    display: none !important;
  }
}

.main-display {
  position: relative;
  letter-spacing: 4px;
  /* wide */
}

.content-display {
  max-width: 980px;
  margin: auto;
}

.image {
  max-width: 100%;
  height: auto;
}
.effect-round {
  border-radius: 10px;
}

.padding-1224 {
  padding: 12px 24px !important;
}

.opacity-1 {
  opacity: 1;
  /* 0 - 1 scale */
}

.row {
  display: table;
  /* no flex */
  flex-wrap: wrap;
  margin-left: -16px;
  margin-right: -16px;
  background-color: none;
  flex-direction: column;
  /* above no flex set */
  content: "";
  clear: both;
}
 /* trial horizontal ver */
/* .column {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}*/
.item-center {
  position: relative;
  left: 10%;
<<<<<<< HEAD
=======
  
>>>>>>> 84c124a634798c3773dcfff95f684f5dbd49d8ee
  justify-content: center;
  align-items: center;

  margin: 0 auto;
}
.image-vertical {
  position: relative;
  display: flex;
}
.image-padding {
  margin-bottom: 58px;
  margin-left: 24px;
}

.padding-64 {
  padding-top: 64px !important;
  padding-bottom: 64px !important;
}

.col {
  float: left;
  width: 100%;
  padding: 0 8px;
  width: 49.99999%;
  /* balance */
}

.effect-center {
  text-align: center !important;
}

.color-pink {
  color: #f393a0;
}

.font-18 {
  font-size: 18px !important;
}

.color-grey-white {
  color: #ccc;
}

.color-grey {
  color: #9ac497 !important;
}

.highlight-box {
  background-color: #000;
  color: #fff;
  display: inline-block;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
}

.color-light-grey {
  color: #000 !important;
  background-color: #f1f1f1 !important;
}

.container {
  padding: 0.01em 16px;
}

.box-input {
  padding: 8px;
  display: block;
  border: none;
  border-bottom: 2px solid #df879c;
  width: 100%;
  background-color: #315e53;
  color: #fff;
  /* padding */
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}

.button:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #cb6b82;
  color: white;
  border-radius: 10px;
}

.btn-submit {
  color: #315e53 !important;
  background-color: #df879c !important;
  /* margin section */
  margin-top: 16px !important;
  margin-bottom: 16px !important;
}

::placeholder {
  color: rgb(189, 216, 232);
  opacity: 1;
  /* Firefox */
}
.color-light-blue {
  color: rgb(189, 216, 232);
}

/* footer */
footer {
  background-color: #40302b;
  text-align: center;
  padding: 32px;
}

.hover-text-green:hover {
  color: #2f6d31 !important;
}

/* h1 - h6 */
h1 {
  font-size: 36px;
  color: white;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}


a {
  background-color: transparent;
}

a:active,
a:hover {
  outline-width: 0;
}

b {
  font-weight: bolder;
}

img {
  border-style: none;
  vertical-align: middle;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

button,
input {
  font: inherit;
  margin: 0;
  border-radius: 10px;
}

button,
input {
  overflow: visible;
}

button {
  text-transform: none;
}